[flake8]
max-line-length = 100

exclude =
  ./alephzero/

ignore =
  F403,  # star import used; unable to detect undefined names
  F405,  # [module] may be undefined, or defined from star imports
  F841,  # local variable is assigned to but never used
